# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Waz\OneDrive - sga.pucminas.br\PUC Minas - Engenharia de Software\SO-SistemasOperacionais\Minhas Atividades\Pacotamento\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
